
.vs/FacebookGroupPostsMicroservice/xs/project-cache/Application-Debug.json
.vs/FacebookGroupPostsMicroservice/xs/project-cache/Domain-Debug.json
.vs/FacebookGroupPostsMicroservice/xs/project-cache/FacebookGroupPostsMicroservice-Debug.json
.vs/FacebookGroupPostsMicroservice/xs/project-cache/Infrastructure-Debug.json
Application/bin/Debug/net6.0/Application.pdb
Application/bin/Debug/net6.0/Domain.pdb
Application/bin/Debug/net6.0/Infrastructure.pdb
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Debug/net6.0/Application.assets.cache
Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net6.0/Application.csproj.CoreCompileInputs.cache
Application/obj/Debug/net6.0/Application.csproj.FileListAbsolute.txt
Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/Debug/net6.0/Application.pdb
Application/obj/project.assets.json
Application/obj/project.nuget.cache
Domain/bin/Debug/net6.0/Domain.pdb
Domain/obj/Debug/net6.0/Domain.assets.cache
Domain/obj/Debug/net6.0/Domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/net6.0/Domain.pdb
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
FacebookGroupPostsMicroservice/bin/Debug/net6.0/Application.pdb
FacebookGroupPostsMicroservice/bin/Debug/net6.0/Domain.pdb
FacebookGroupPostsMicroservice/bin/Debug/net6.0/FacebookGroupPostsMicroservice.pdb
FacebookGroupPostsMicroservice/bin/Debug/net6.0/Infrastructure.pdb
FacebookGroupPostsMicroservice/obj/Debug/net6.0/FacebookGroupPostsMicroservice.assets.cache
FacebookGroupPostsMicroservice/obj/Debug/net6.0/FacebookGroupPostsMicroservice.csproj.AssemblyReference.cache
FacebookGroupPostsMicroservice/obj/Debug/net6.0/FacebookGroupPostsMicroservice.csproj.CoreCompileInputs.cache
FacebookGroupPostsMicroservice/obj/Debug/net6.0/FacebookGroupPostsMicroservice.csproj.FileListAbsolute.txt
FacebookGroupPostsMicroservice/obj/Debug/net6.0/FacebookGroupPostsMicroservice.GeneratedMSBuildEditorConfig.editorconfig
FacebookGroupPostsMicroservice/obj/Debug/net6.0/FacebookGroupPostsMicroservice.genruntimeconfig.cache
FacebookGroupPostsMicroservice/obj/Debug/net6.0/FacebookGroupPostsMicroservice.pdb
FacebookGroupPostsMicroservice/obj/FacebookGroupPostsMicroservice.csproj.nuget.dgspec.json
FacebookGroupPostsMicroservice/obj/project.assets.json
FacebookGroupPostsMicroservice/obj/project.nuget.cache
FacebookGroupPostsMicroservice/obj/staticwebassets.pack.sentinel
Infrastructure/bin/Debug/net6.0/Domain.pdb
Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.FileListAbsolute.txt
Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
*.pdb
*.pdb
Application/bin/Debug/net6.0/Application.pdb
