
.vs/FacebookGroupPostsMicroservice/xs/
Application/bin
Application/obj
Domain/bin
Domain/obj
FacebookGroupPostsMicroservice/bin
FacebookGroupPostsMicroservice/obj
FacebookGroupPostsMicroservice.csproj.AssemblyReference.cache
FacebookGroupPostsMicroservice.csproj.CoreCompileInputs.cache
FacebookGroupPostsMicroservice.csproj.FileListAbsolute.txt
FacebookGroupPostsMicroservice.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/bin
Infrastructure/obj

.vs/FacebookGroupPostsMicroservice/v17/.suo
